@charset "UTF-8";
/* Mobile */
@media (max-width: 480px) {
  .header .header-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 719px) {
  .header {
    height: 30vh;
  }

  .header .header-text {
    font-size: clamp(0.7rem, 1.8vw, 1.5rem);
  }


  #background-wrapper, #img-foreground {
    height: 1000px;

  }

  #numberInput input, #numberInput select {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #numberInput input {
    padding-left: 12px;
    padding-right: 10px;
    width: 98%;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid black;
    border-bottom-color: gray;
  }

  #numberInput .no-selectInput input {
    border-radius: 15px 15px 15px 15px;
    border: 2px solid black;
  }
  
  #numberInput select {
    padding-left: 12px;
    padding-right: 20px;
    width: 98%;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid black;
    border-top-color: gray;
  }

  #resultPreview {
    margin: 10px -5%;
  }

  #rewardVideo {
    width: 15rem;
  }
}
/* ^ Mobile ^ */


/* Desktop */
@media (min-width: 720px) { 
  .header {
    height: 50vh;
  }

  .header .header-text {
    font-size: 2vw; 
  }

  #numberInput input, #numberInput select {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #numberInput input {
    padding-left: 12px;
    padding-right: 10px;
    width: 65%;
    border-radius: 15px 0px 0px 15px;
    border: 2px solid black;
    border-right-color: gray;
  }

  #numberInput .no-selectInput input {
    width: 85%;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid black;
  }
  
  #numberInput select {
    padding-left: 12px;
    padding-right: 20px;
    width: 20%;
    border-radius: 0px 15px 15px 0px;
    border: 2px solid black;
    border-left-color: gray;
  }

  #resultPreview {
    margin: 30px auto;
  }

  #rewardVideo {
    width: 640px;
  }
}
/* ^ Desktop ^ */


/* Body */
html {
  overflow-x: var(--z-scrollX);
}

body {
  margin: 0;
  padding: 0;
  background-color: #c9ffba4c;
  scroll-behavior: smooth;
  overflow-y: var(--z-scrollY);
  overflow-x: var(--z-scrollX);
  z-index: var(--z-body);
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: -10;
}

.container-background {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background-color: var(--z-containerColor);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: -10;
}

/* Header */
.header {
/*height: @media;*/
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: var(--z-header);
}

#background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-backgroundImg);
  pointer-events: none;
  overflow: hidden;
}

#background-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#img-foreground {
  width: 100%;
  mask-image: linear-gradient(black, transparent);
  -webkit-mask-image: linear-gradient(black, transparent);
}

.header .header-text {
  color: #ffffff;
/*font-size: @media;*/
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  margin: 0;
  z-index: var(--z-header-text);
}

/* Content */
.content {
  font-family: sans-serif;
  line-height: 1.6;
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  pointer-events: auto;
}

div a:hover {
  text-decoration: underline;
}

div a:focus {
  outline: 3px solid #0000c5;
}

.content h2 {
  margin-bottom: 0px;
}

.content p {
  font-size: smaller;
  margin-top: auto;
}

/* Input */
#numberInput input, #numberInput select {
  outline: none;
  margin-top: 4px 0;
  box-sizing: border-box;
  border-width: 2px;
/*padding-top: @media;
  padding-bottom: @media;*/
}

#numberInput input {
  display: inline-block;
/*padding-left: @media;
  padding-right: @media;
  width: @media;
  border-radius: @media;
  border-top-color: @media;
  border-bottom-color: @media;
  border-left-color: @media;
  border-right-color: @media*/
}

#numberInput select {
  padding-left: 12px;
/*padding-right: @media;
  width: @media;
  border-radius: @media;
  border-top-color: @media;
  border-bottom-color: @media;
  border-left-color: @media;
  border-right-color: @media;*/
}

/* Result */
#resultPreview {
  /*margin: @media;*/
  padding: 20px;
  background-color: #024a0189;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 44, 1, 0.658);
  z-index: -4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

.result { /* bu kodu veren kişiye teşşekkürler */
  margin-top: 25px;
  scroll-margin-top: 10px;
  text-align: center;
  padding: 10px;
  background: #f8f9fa;
  border-radius: 8px;
  border-left: 5px solid #3498db;
  display: none;
}

/* PieChart */ /* bu kodu veren kişiye teşşekkürler */
#chart-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  flex-wrap: wrap;
  display: none;
  overflow: visible;
}

canvas {
  flex-wrap: wrap;
  max-width: 400px;
  max-height: 200px;
}

.info-box {
  flex: 1;
  flex-wrap: wrap;
  min-width: 200px;
  margin-top: inherit;
  padding: 20px;
  background: #f9faf8;
  border-radius: 8px;
  font-size: 15px;
  line-height: 1.6;
  border-left: 5px solid #e74c3c;
}

.info-box p {
  margin: 10px 0;
}

.info-box strong {
  color: #2c3e50;
}

/* RewardVideo */
#rewardVideo {
  margin-top: 20px;
  display: none;
  height: 100%;
}

#rewardVideoContainer {
  display: flex;
  justify-content: center;
}