@charset "UTF-8";
/* v Mobile v */
@media (max-width: 720px) {

}
/* ^ Mobile ^ */

/* v Desktop v */
@media (min-width: 720px) {

}
/* ^ Desktop ^ */

#switch-math-type-div {
  height: 36px;
  display: flex;
  flex-grow: initial;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border-radius: 10px 10px 0 0;
  background-color: var(--z-containerColor);
  z-index: var(--z-SMTD);
  position: relative;
}

#switch-math-type-div input {
  border: 2px solid var(--z-non-selectedBorderColor);
  padding: 8px 16px;
  cursor: pointer;
  flex-grow: 1;
  transition: background-color    0.4s ease-in-out,
              transform           0.4s cubic-bezier(.58,-0.72,.56,2.02),
              margin-bottom       0.4s cubic-bezier(.58,-0.72,.56,2.02),
              padding-bottom      0.4s cubic-bezier(.58,-0.72,.56,2.02),
              border-bottom-color 0.4s linear,
              border-radius       0.4s ease-in-out;      
  background-color: var(--z-non-selectedColor);
}

#switch-math-type-div input.selected {
  background-color: var(--z-calculationContainerColor);
  border: 2px solid var(--z-calculationContainerBorderColor);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  z-index: var(--z-selected);
  position: relative;
  transform: translateY(-10px);
  margin-bottom: -10.2px;
  padding-bottom: 20px;
}

#switch-math-type-div input.not-selected {
  border-bottom: 2px solid var(--z-calculationContainerBorderColor);
}

#switch-math-type-div input.leftside.not-selected {
  border-right: none;
  border-radius: 10px 0 0 0;
}

#switch-math-type-div input.rightside.not-selected {
  border-left: none;
  border-radius: 0 10px 0 0;
}

#billInputs {
  display: none;
}