@charset "UTF-8";
:root {
  --z-body: -6;

  /* main.css */
  --z-scrollY: auto; /* body */
  --z-scrollX: hidden; /* body */
  --z-header: 0; /* .header */
  --z-header-text: 2;
  --z-container: -2; /* .container */
  --z-containerColor: #d7fed6; /* .container and #switch-math-type-div input.selected in mathswitch.css*/
  --z-calculationContainer: 1; /* #calculationContainer */
  --z-calculationContainerBorder: 1; /* #calculationContainerBorderLeft and #calculationContainerBorderRight */
  --z-calculationContainerColor: #94fa92; /* #calculationContainer and #switch-math-type-div *ANY* */
  --z-calculationContainerBorderColor: #55b053; /* #calculationContainer and #switch-math-type-div *ANY* */
  --z-backgroundImg: -5; /* #background-wrapper */
  --z-a: 10; /* .content */
  --z-resultPreview: 2;

  /* simpleui.css */ /* .sidebar */
  --z-ui: 100; /* .simple-ui */ /* .sidebar */
  --z-uiButtonReal: 99; /* #sidebarRealButton */

  /* mathswitch.css*/
  --z-SMTD: 10; /* #switch-math-type-div */
  --z-SMTD-before: -1;
  --z-selected: 2; /* #switch-math-type-div input.selected */
  --z-non-selectedColor: #dddddd;
  --z-non-selectedBorderColor: #cccccc;
}