@charset "UTF-8";
/* v Mobile v */
@media (max-width: 800px) {
  .sidebar.open {
    width: 200px;
    height: 100%;
  }

  .sidebar.closed {
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
  }
}

@media (max-height: 750px) {
  .header {
    margin-top: 10vmin;
  }
}
/* ^ Mobile ^ */

/* v Desktop v */
@media (min-width: 800px) {
  .sidebar.open {
    width: 200px;
    height: 100%;
}

  .sidebar.closed {
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
  }
}
/* ^ Desktop ^ */

#sidebar {
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
     -moz-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
       -o-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      -ms-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
          transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  z-index: var(--z-ui);
}


#sidebar::-webkit-scrollbar { /* Chrome, Safari, Edge Chromium */
  width: 0;
  height: 0;
  background: transparent;
}

#sidebar::-ms-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.sidebar.open {
/*width: @media;
  height: @media;*/
  overflow-y: scroll;
  padding: 20px 20px 10px 20px;
  background-color: #8ae0b4;
  border-radius: 0;
}

.sidebar.closed {
/*width: @media;
  height: @media;*/
  overflow-y: hidden;
  padding: 20px;
  background-color: #4e8b6c;
  border-radius: 0 0 50% 0;
}

.sidebar.closed #rest-of-the-content div {
  display: none;
  overflow: hidden;
}

.sidebar.open #rest-of-the-content {
  display: flex;
}

#rest-of-the-content {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */
}

/* Chrome, Safari, Edge Chromium */
#rest-of-the-content::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

#rest-of-the-content::-ms-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}


#sidebar-button {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

#sidebarRealButton {
  position: absolute; /* <- better than fixed inside a fixed sidebar */
  display: flex;
  border: 0;
  background-color: transparent;
  z-index: var(--z-uiButtonReal);
}

#sidebar-button {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  flex-shrink: 0; /* Don't shrink */
  margin-bottom: 20px;
}

#sidebar #rest-of-the-content {
  margin: 40px 0 0 0;
  flex: 1;
  overflow-y: auto; /* Scroll only this */
  padding: inherit;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
}


#sidebar #lang-selectDiv {
  width: 100%;
  margin-bottom: 20px;
}

#sidebar #lang-select {
  width: 100%;
  border-radius: 100px;
  padding: 10px;
}

#contacts {
  bottom: 0;
  margin: 20px;
  margin-top: auto;
}

#contacts #contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#contacts #info-header {
  margin: 10px auto;
  margin-bottom: 0;
}

#contacts #info-header #info-icon {
  height: 30px;
  width: 100%;
  margin-bottom: 0px;
}

#contacts #info-header h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0px;
}

#contacts .info-line {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  align-items: center;
}

#contacts .icons {
  height: 20px;
  width: 20px;
}

#contacts p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin: 0;
}

#contacts #logo-div {
  width: 100%;
}

#contacts #logo-div img {
  width: 100%;
  border-radius: 100%;
}