/* check this out later
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally *//*
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}*/

/* v Mobile v */
@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
/* ^ Mobile ^ */

/* v Desktop v */
@media (min-width: 800px) {
  .simple-ui {
    display: none;
  }
}
/* ^ Desktop ^ */

#sidebar {
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  z-index: var(--z-ui);
}

.sidebar.open {
  width: 200px;
  height: 100%;
  padding: 20px 20px 10px 20px;
  background-color: #8ae0b4;
  border-radius: 0;
}

.sidebar.closed {
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: #4e8b6c;
  border-radius: 0 0 50% 0;
}

.sidebar.closed #rest-of-the-content div {
  display: none;
}

.sidebar.open #rest-of-the-content {
  display: flex;
}

#sidebar-button {
  width: 100%;
}

#sidebarRealButton {
  position: fixed;
  display: flex;
  border: 0;
  background-color: transparent;
  z-index: var(--z-uiButtonReal);
}

#sidebar-button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-bottom: auto;
}

#sidebar #rest-of-the-content {
  margin: 40px 0 0 0;
  padding: inherit;
  width: inherit;
  position: inherit;
  height: inherit;
  overflow: inherit;
  display: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  align-content: inherit;
  flex-direction: inherit;
}

#sidebar #lang-selectDiv {
  width: 100%;
}

#sidebar #lang-select {
  width: 100%;
  border-radius: 100px;
  padding: 10px;
}

#contacts {
  bottom: 0;
  margin: 20px;
  position: inherit;
}

#contacts #contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#contacts #info-header {
  margin: 10px auto;
  margin-bottom: 0;
}

#contacts #info-header #info-icon {
  height: 30px;
  width: 100%;
  margin-bottom: 0px;
}

#contacts #info-header h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0px;
}

#contacts .info-line {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  align-items: center;
}

#contacts .icons {
  height: 20px;
  width: 20px;
}

#contacts p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin: 0;
}

#contacts #logo-div {
  width: 100%;
}

#contacts #logo-div img {
  width: 100%;
  border-radius: 100%;
}